@import "fonts.css";
header {
  height: 80px;
  width: 100%;
}
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .basket-block {
  position: absolute;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  cursor: pointer;
}
header .basket-block.active svg {
  --fill-color: #000;
}
header .basket-block svg {
  width: 25px;
  height: 23px;
  --fill-color: #CBCBCB;
  --fill-color-white: #fff;
}
header .basket-block svg + span {
  width: 20px;
  height: 20px;
  color: #fff;
  font-family: RM, sans-serif;
  font-size: 14px;
  margin-left: 8px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=header.component.css.map */