@import "../../../assets/styles/variables";

header {
  height: 80px;
  width: 100%;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .basket-block {
    position: absolute;
    right: 20px;
    .transform(translateY(-50%));
    display: flex;
    cursor: pointer;

    &.active {
      svg {
        --fill-color: @black;
      }
    }

    svg {
      width: 25px;
      height: 23px;
      --fill-color: @gray;
      --fill-color-white: @white;

      & + span {
        width: 20px;
        height: 20px;
        color: @white;
        font-family: @RM;
        font-size: 14px;
        margin-left: 8px;
        background: @black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
