<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="/assets/imgs/logo.png" alt="">
    </a>
    <div class="basket-block"
         [ngClass]="products.length ? 'active' : ''"
         (click)="showSide()">
      <svg class="shop-icon" aria-hidden="true">
        <use xlink:href="/assets/imgs/icons/shop.svg#shop"></use>
      </svg>
      <span *ngIf="products.length">{{count}}</span>
    </div>
  </div>
</header>
