@import "fonts.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: RR, sans-serif;
  background: #F2F2F2;
  color: #000;
  font-style: normal;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.slick-next,
.slick-prev {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-next:before,
.slick-prev:before {
  content: '';
  display: block;
  background-image: url('../imgs/icons/arrow.svg');
  width: 7px;
  height: 13px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  color: transparent;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
}
.slick-prev {
  left: 5px;
}
.slick-prev:hover:before {
  background-image: url('../imgs/icons/arrow-b.svg');
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slick-next {
  right: 5px;
}
.slick-next:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slick-next:hover:before {
  background-image: url('../imgs/icons/arrow-b.svg');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.ng-select.ng-select-opened > .ng-select-container {
  background: transparent;
  border: none;
}
.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.ng-select.ng-select-focused .ng-select-container {
  box-shadow: none !important;
}
.ng-select.btn-select {
  height: 62px;
  border: 2px solid #000;
}
.ng-select.btn-select .ng-select-container {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  height: 100%;
}
.ng-select.btn-select .ng-arrow-wrapper {
  width: 25px;
  margin: 0 10px;
  padding: 0;
}
.ng-select .ng-select-container {
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #000;
  background: transparent;
  border: none;
  text-align: right;
}
.ng-select .ng-select-container:hover {
  box-shadow: none;
}
.ng-select .ng-select-container .ng-value-container {
  justify-content: center;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #000;
}
.ng-select .ng-clear-wrapper {
  display: none;
}
.ng-select .ng-arrow-wrapper {
  width: 40px;
}
.ng-select .ng-arrow-wrapper .ng-arrow {
  border: none;
  width: 15px !important;
  height: 15px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.ng-select .ng-arrow-wrapper .ng-arrow:after {
  content: '';
  display: block;
  background-image: url('../../assets/imgs/icons/arrow-b.svg');
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 7px;
  height: 13px;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
}
.ng-dropdown-panel.ng-select-bottom {
  border-radius: 0;
  border-color: #000;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 10px 15px;
  font-size: 14px;
  text-align: right;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background: transparent;
}
.product header .container {
  padding-left: 0;
  justify-content: flex-start !important;
}
.btn {
  width: auto;
  height: 62px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #CBCBCB;
  background: transparent;
  padding: 0 15%;
  white-space: nowrap;
}
/*# sourceMappingURL=app.css.map */