@import "variables";
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: @RR;
  background: #F2F2F2;
  color: #000;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.slick-next, .slick-prev {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;


  &:before {
    content: '';
    display: block;
    background-image: url('../imgs/icons/arrow.svg');
    width: 7px;
    height: 13px;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    color: transparent;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
  }
}

.slick-prev {
  left: 5px;

  &:hover {
    &:before {
      background-image: url('../imgs/icons/arrow-b.svg');
      .transform(rotate(180deg));
    }
  }
}

.slick-next {
  right: 5px;

  &:before {
    .transform(rotate(180deg));
  }

  &:hover {
    &:before {
      background-image: url('../imgs/icons/arrow-b.svg');
      .transform(rotate(0deg));
    }
  }
}

.ng-select {
  &.ng-select-opened {
    & > .ng-select-container {
      background: transparent;
      border: none;

      .ng-arrow {
        .transform(rotate(-180deg));
      }
    }
  }

  &.ng-select-focused {
    .ng-select-container {
      box-shadow: none !important;
    }
  }

  &.btn-select {
    height: 62px;
    border: 2px solid @black;

    .ng-select-container {
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 500;
      height: 100%;
    }
    .ng-arrow-wrapper {
      width: 25px;
      margin: 0 10px;
      padding: 0;
    }
  }
  .ng-select-container {
    font-size: 14px;
    letter-spacing: 0.7px;
    color: @black;
    background: transparent;
    border: none;
    text-align: right;

    &:hover {
      box-shadow: none;
    }

    .ng-value-container {
      justify-content: center;

      .ng-placeholder {
        font-size: 14px;
        letter-spacing: 0.7px;
        color: @black;
      }
    }
  }

  .ng-clear-wrapper {
    display: none;
  }

  .ng-arrow-wrapper {
    width: 40px;

    .ng-arrow {
      border: none;
      width: 15px !important;
      height: 15px !important;
      display: flex !important;
      align-items: center;
      justify-content: center;

      &:after {
        content: '';
        display: block;
        background-image: url('../../assets/imgs/icons/arrow-b.svg');
        .transform(rotate(90deg));
        width: 7px;
        height: 13px;
        .transition(transform .4s);
      }
    }
  }
}

.ng-dropdown-panel {
  &.ng-select-bottom {
    border-radius: 0;
    border-color: @black;
  }

  .ng-dropdown-panel-items {
    .ng-option {
      padding: 10px 15px;
      font-size: 14px;
      text-align: right;

      &.ng-option-marked {
        background: transparent;
      }
    }
  }
}

.product {
  header {
    .container {
      padding-left: 0;
      justify-content: flex-start !important;
    }
  }
}

.btn {
  width: auto;
  height: 62px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid @gray;
  background: transparent;
  padding: 0 15%;
  white-space: nowrap;
}
