@font-face {
  font-family: RR;
  src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
  src: local(""), url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RM;
  src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
  src: local(""), url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=fonts.css.map */