@gray: #CBCBCB;
@black: #000;
@white: #fff;
@text-color: #A3A3A3;
@border: #424242;
@dark: #2B2B2B;

@import "fonts.css";

@RR: RR, sans-serif;
@RM: RM, sans-serif;


.transform(@rot){
  -webkit-transform: @rot;
  -moz-transform: @rot;
  -ms-transform: @rot;
  -o-transform: @rot;
  transform: @rot;
}

.transition(@transition){
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

@mobile-xs:   ~"only screen and (max-width: 480px)";
@mobile:      ~"only screen and (max-width: 767px)";
@tablet:      ~"only screen and (min-width: 768px) and (max-width: 1023px)";
@desktop:     ~"only screen and (min-width: 1024px) and (max-width: 1366px)";
@desktop-xl:  ~"only screen and (min-width: 1367px) and (max-width: 1680px)";
