@import "fonts.css";
.product {
  display: flex;
  height: 100vh;
  min-height: 700px;
  background: #fff;
}
.product-left {
  width: 40%;
  padding: 0 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .product-left {
    padding: 0 20px;
  }
}
.product-left .img-wrap {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product-right {
  width: 60%;
  padding: 0 55px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .product-right {
    padding: 0 25px;
  }
}
.product-content {
  padding-top: 30px;
}
.product-category {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #A3A3A3;
  margin-top: 60px;
  text-transform: uppercase;
}
.product-name {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #000;
}
.product-info {
  display: flex;
  justify-content: space-between;
}
.product-text {
  width: 55%;
}
.product-text p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}
.product-descr ul {
  display: table;
}
.product-descr ul li {
  display: table-row;
}
.product-descr ul li span {
  display: table-cell;
  font-size: 10px;
  color: #000;
  padding: 5px 20px;
}
.product-descr ul li span:first-child {
  color: #A3A3A3;
  text-transform: uppercase;
}
.product-btns {
  display: grid;
  margin: 30px 0 60px;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}
.product-btns .btn {
  padding: 0 5%;
  width: auto;
}
.link-prev {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.666667px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.link-prev svg {
  width: 5px;
  height: 11px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-right: 5px;
}
/*# sourceMappingURL=product.component.css.map */