@import "../../../assets/styles/variables";

.product {
  display: flex;
  height: 100vh;
  min-height: 700px;
  background: @white;

  &-left {
    width: 40%;
    padding: 0 40px;

    @media @tablet {
      padding: 0 20px;
    }

    .img-wrap {
      width: 100%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-right {
    width: 60%;
    padding: 0 55px;
    @media @tablet {
      padding: 0 25px;
    }
  }

  &-content {
    padding-top: 30px;
  }

  &-category {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: @text-color;
    margin-top: 60px;
    text-transform: uppercase;
  }

  &-name {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: @black;
  }

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    width: 55%;

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }

  &-descr {
    ul {
      display: table;

      li {
        display: table-row;

        span {
          display: table-cell;
          font-size: 10px;
          color: @black;
          padding: 5px 20px;

          &:first-child {
            color: @text-color;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &-btns {
    display: grid;
    margin: 30px 0 60px;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;

    .btn {
      padding: 0 5%;
      width: auto;
    }
  }
}

.link-prev {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.666667px;
  text-transform: uppercase;
  color: @black;
  cursor: pointer;
  text-decoration: none;

  svg {
    width: 5px;
    height: 11px;
    .transform(rotate(-180deg));
    margin-right: 5px;
  }
}
