<main class="product" *ngIf="isLoaded">
  <div class="product-left">
    <div class="img-wrap" [ngStyle]="{backgroundImage: 'url(' + product.imgs[0] + ')'}"></div>
  </div>
  <div class="product-right">
    <app-header (showMenu)="showSide($event)"></app-header>

    <div class="product-content">
      <a class="link-prev"
        routerLink="/">
        <svg class="shop-icon" aria-hidden="true">
          <use xlink:href="/assets/imgs/icons/arrow-b.svg#arrow"></use>
        </svg>
        Назад
      </a>
      <div class="product-category">{{ product.category }}</div>
      <div class="product-name">{{ product.name }}</div>
      <div class="product-btns">
        <ng-select [items]="size"
                   class="btn-select"
                   bindLabel="name"
                   placeholder="Размер"
                   bindValue="name">
        </ng-select>
        <div>
          <button class="btn"
                  type="button"
                  (click)="addShopList(product)">
            В корзину</button>
        </div>
      </div>
      <div class="product-info">
        <div class="product-text">
          <p>Рубашка на пуговицах от Yohji Yamamoto (Йоджи Ямамото). Классический воротник,
            застежка на пуговицах спереди, нагрудный карман, удлиненная модель,
            прошитые панели, длинные рукава и манжеты на пуговицах.</p>
          <p>Рост модели 1,88 м, надет размер 2</p>
          <p>Образ модели дополнен: Yohji Yamamoto широкие укороченные брюки, Converse кроссовки 'One Star'.</p>
        </div>
        <div class="product-descr">
          <ul>
            <li><span>Цвет:</span><span>Черный</span></li>
            <li><span>Состав:</span><span>Шерсть 100%</span></li>
            <li><span>Уход:</span><span>Сухая чистка</span></li>
            <li><span>Артикул:</span><span>HHB73100</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-basket [showMenu]="show"></app-basket>
</main>
