@import "fonts.css";
aside {
  width: 200px;
  margin-right: 50px;
}
aside ul {
  list-style: none;
  padding-left: 40px;
  margin-bottom: 20px;
}
aside ul li {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.666667px;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 0;
  cursor: pointer;
}
aside ul li.active {
  font-family: RM, sans-serif;
}
/*# sourceMappingURL=sidebar.component.css.map */