<aside>
  <ul>
    <li [ngClass]="setClass[0] ? 'active' : ''"
        (click)="setCategory('All'); selectElems(0)">Все</li>
    <li *ngFor="let item of categories, let i = index"
        (click)="setCategory(item.name); selectElems(i+1)"
        [ngClass]="setClass[i+1] ? 'active' : ''">{{ item.name }}</li>
  </ul>
  <ng-select [items]="filters"
             (change)="selectFilter($event)"
             placeholder="Сортировать"
             bindLabel="name"
             bindValue="id">
  </ng-select>
</aside>
