@import "fonts.css";
.shop-list-wrap {
  width: 25%;
  min-width: 320px;
  background: #2B2B2B;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 100;
}
.shop-list-wrap.show {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.shop-list-wrap .close-sidebar {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 40px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-list-wrap .close-sidebar:before,
.shop-list-wrap .close-sidebar:after {
  content: '';
  display: block;
  position: absolute;
  background: #fff;
}
.shop-list-wrap .close-sidebar:before {
  height: 2px;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  top: 50%;
}
.shop-list-wrap .close-sidebar:after {
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.shop-list-container {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 140px;
  overflow: auto;
}
.shop-list {
  min-height: 120px;
  padding: 20px 40px;
  display: flex;
  border-bottom: 1px solid #424242;
}
.shop-list-img-wrap {
  width: 80px;
  height: 80px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.shop-list-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shop-list-name {
  font-size: 12px;
  color: #fff;
}
.shop-list-count-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.shop-list-price {
  font-size: 14px;
  color: #fff;
  font-family: RM, sans-serif;
}
.shop-list-footer {
  padding: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.shop-list-footer .btn {
  width: 100%;
  border-color: #fff;
  color: #fff;
}
.shop-list-total {
  font-size: 16px;
  font-family: RM, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: #fff;
}
.count {
  display: flex;
  align-items: center;
}
.count button {
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: RM, sans-serif;
  font-size: 14px;
  color: #fff;
  background: transparent;
  border: none;
  margin: 0 5px;
}
.count span {
  font-family: RM, sans-serif;
  color: #fff;
  font-size: 14px;
}
/*# sourceMappingURL=basket.component.css.map */