<div class="shop-list-wrap" [ngClass]="show ? 'show' : ''" *ngIf="products.length">
  <div class="close-sidebar" (click)="show = false;"></div>
  <div class="shop-list-container">
    <ul>
      <li class="shop-list" *ngFor="let product of products">
        <div class="shop-list-img-wrap" [ngStyle]="{backgroundImage: 'url(' + product.imgs[0] + ')'}">

        </div>
        <div class="shop-list-content">
          <div class="shop-list-name">{{product.name}}</div>
          <div class="shop-list-count-wrap">
            <div class="count">
              <button type="button" (click)="decr(product.id)">-</button>
              <span>{{product.count}}</span>
              <button type="button" (click)="incr(product.id)">+</button>
            </div>
            <div class="shop-list-price">${{product.price * product.count}}</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="shop-list-total">
      Итого
      <strong>${{totalProduct()}}</strong>
    </div>
  </div>
  <div class="shop-list-footer">
    <button class="btn" type="button" (click)="addCard()">КУПИТЬ</button>
  </div>
</div>
