@import "../../../assets/styles/variables";

.shop-list-wrap {
  width: 25%;
  min-width: 320px;
  background: @dark;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .transition(all .4s);
  .transform(translateX(100%));
  z-index: 100;

  &.show {
    .transform(translateX(0));
  }

  .close-sidebar {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    .transform(rotate(-45deg));

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      background: @white;
    }

    &:before {
      height: 2px;
      width: 100%;
      .transform(translateY(-50%));
      left: 0;
      top: 50%;
    }

    &:after {
      width: 2px;
      height: 100%;
      left: 50%;
      top: 0;
      .transform(translateX(-50%));
    }
  }

}

.shop-list-container {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 140px;
  overflow: auto;
}
.shop-list {
  min-height: 120px;
  padding: 20px 40px;
  display: flex;
  border-bottom: 1px solid @border;

  &-img-wrap {
    width: 80px;
    height: 80px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-name {
    font-size: 12px;
    color: @white;
  }

  &-count-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &-price {
    font-size: 14px;
    color: @white;
    font-family: @RM;
  }

  &-footer {
    padding: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .btn {
      width: 100%;
      border-color: @white;
      color: @white;
    }
  }

  &-total {
    font-size: 16px;
    font-family: @RM;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: @white;
  }
}

.count {
  display: flex;
  align-items: center;

  button {
    width: 20px;
    height: 20px;
    text-align: center;
    font-family: @RM;
    font-size: 14px;
    color: @white;
    background: transparent;
    border: none;
    margin: 0 5px;
  }

  span {
    font-family: @RM;
    color: @white;
    font-size: 14px;
  }
}
