<div class="products-wrap">
  <div class="item" *ngFor="let product of products | category : filter | sort: sort, let i = index">
    <a [routerLink]="['/product', product.id]"
       class="item-img">
      <ngx-slick-carousel class="item-slider"
                          [ngClass]="'product-slide-' + i"
                          [config]="{
                           'asNavFor': '.product-slide-nav-' + i,
                           ' slidesToShow': 1,
                           'slidesToScroll': 1,
                           'arrows': false,
                           'dots': false,
                           'infinite': false}">
        <div ngxSlickItem *ngFor="let slide of product.imgs"
             class="slide"
             [ngStyle]="{backgroundImage: 'url(' + slide + ')'}">
        </div>
      </ngx-slick-carousel>
    </a>
    <div class="item-content">
      <ngx-slick-carousel class="item-slider-nav"
                          [ngClass]="'product-slide-nav-' + i"
                          [config]="{'asNavFor': '.product-slide-' + i,
                           'slidesToShow': 4,
                           'slidesToScroll': 1,
                           'arrows': true,
                           'dots': false,
                           'infinite': false,
                           'focusOnSelect': true}">
        <div ngxSlickItem *ngFor="let slide of product.imgs" class="slide"
             [ngStyle]="{backgroundImage: 'url(' + slide + ')'}">
        </div>
      </ngx-slick-carousel>
      <div class="item-category">{{ product.category }}</div>
      <div class="item-name">{{ product.name }}</div>
      <div class="item-price">${{ product.price }}</div>
      <div class="item-total">на складе: {{ product.total }}</div>
    </div>
  </div>
</div>
