@import "fonts.css";
.products-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 64px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .products-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
}
.products-wrap .item {
  margin: 0 0 30px;
  overflow: hidden;
}
.products-wrap .item:hover {
  cursor: pointer;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0697115);
}
.products-wrap .item:hover .item-content {
  background: #fff;
}
.products-wrap .item:hover .item-slider-nav {
  opacity: 1;
}
.products-wrap .item-item-img {
  width: 100%;
}
.products-wrap .item-content {
  padding: 15px 20px;
  position: relative;
}
.products-wrap .item-category {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #A3A3A3;
}
.products-wrap .item-name {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.products-wrap .item-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #000;
  margin-top: 15px;
  text-align: center;
}
.products-wrap .item-total {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #A3A3A3;
  text-align: center;
}
.item-slider {
  width: 100%;
}
.item-slider .slide {
  width: 100%;
  height: 380px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .item-slider .slide {
    height: 260px;
  }
}
.item-slider-nav {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  padding: 10px 30px;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.item-slider-nav .slide {
  width: 40px;
  height: 40px;
  margin: 0 2px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=products.component.css.map */