@import "../../../assets/styles/variables";

.products-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 64px;

  @media @tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
  .item {
    margin: 0 0 30px;

    overflow: hidden;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0697115);

      .item-content {
        background: @white;
      }

      .item-slider-nav {
        opacity: 1;
      }
    }

    &-item-img {
      width: 100%;
    }

    &-content {
      padding: 15px 20px;
      position: relative;
    }

    &-category {
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1px;
      color: @text-color;
    }

    &-name {
      font-size: 16px;
      line-height: 19px;
      color: @black;
    }

    &-price {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 1px;
      color: @black;
      margin-top: 15px;
      text-align: center;
    }

    &-total {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1px;
      color: @text-color;
      text-align: center;
    }
  }
}

.item-slider {
  width: 100%;

  .slide {
    width: 100%;
    height: 380px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media @tablet {
      height: 260px;
    }
  }
}

.item-slider-nav {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  padding: 10px 30px;
  background: @white;
  opacity: 0;
  .transition(all .4s);

  .slide {
    width: 40px;
    height: 40px;
    margin: 0 2px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
